@font-face {
   font-family: "icon";
   src: url("/icon/icon.eot?y48kqe");
   src:
      url("/icon/icon.eot?y48kqe#iefix") format("embedded-opentype"),
      url("/icon/icon.ttf?y48kqe") format("truetype"),
      url("/icon/icon.woff?y48kqe") format("woff"),
      url("/icon/icon.svg?y48kqe#icon") format("svg");
   font-weight: normal;
   font-style: normal;
   font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: "icon" !important;
   speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-add-line:before {
   content: "\e900";
}
.icon-adds:before {
   content: "\e901";
}
.icon-architech:before {
   content: "\e902";
}
.icon-arrow-left:before {
   content: "\e903";
}
.icon-arrow-left-circle:before {
   content: "\e904";
}
.icon-arrow-right:before {
   content: "\e905";
}
.icon-arrow-right-circle:before {
   content: "\e906";
}
.icon-article-line:before {
   content: "\e907";
}
.icon-automation:before {
   content: "\e908";
}
.icon-automotive:before {
   content: "\e909";
}
.icon-bank:before {
   content: "\e90a";
}
.icon-book:before {
   content: "\e90b";
}
.icon-briefcase:before {
   content: "\e90c";
}
.icon-building:before {
   content: "\e90d";
}
.icon-calendar:before {
   content: "\e90e";
}
.icon-camera-fill:before {
   content: "\e90f";
}
.icon-campain:before {
   content: "\e910";
}
.icon-checkbox-circle-line:before {
   content: "\e911";
}
.icon-check-circle:before {
   content: "\e912";
}
.icon-chevron-down:before {
   content: "\e913";
}
.icon-clock:before {
   content: "\e914";
}
.icon-company:before {
   content: "\e915";
}
.icon-construction:before {
   content: "\e916";
}
.icon-currency-dollar:before {
   content: "\e917";
}
.icon-dashboard-line:before {
   content: "\e918";
}
.icon-design:before {
   content: "\e919";
}
.icon-desktop:before {
   content: "\e91a";
}
.icon-discuss-line:before {
   content: "\e91b";
}
.icon-dollar-sign:before {
   content: "\e91c";
}
.icon-draft-line:before {
   content: "\e91d";
}
.icon-edit-line:before {
   content: "\e91e";
}
.icon-electrician:before {
   content: "\e91f";
}
.icon-email-marketing:before {
   content: "\e920";
}
.icon-emoji-happy:before {
   content: "\e921";
}
.icon-employe:before {
   content: "\e922";
}
.icon-eye-line:before {
   content: "\e923";
}
.icon-eye-off-line:before {
   content: "\e924";
}
.icon-facebook:before {
   content: "\e925";
}
.icon-globe:before {
   content: "\e926";
}
.icon-heart:before {
   content: "\e927";
}
.icon-Illustration:before {
   content: "\e928";
}
.icon-image:before {
   content: "\e929";
}
.icon-instragram:before {
   content: "\e92a";
}
.icon-job-find:before {
   content: "\e92b";
}
.icon-lead:before {
   content: "\e92c";
}
.icon-linkedin:before {
   content: "\e92d";
}
.icon-logo-design:before {
   content: "\e92e";
}
.icon-logout:before {
   content: "\e92f";
}
.icon-loom:before {
   content: "\e930";
}
.icon-mail:before {
   content: "\e931";
}
.icon-mail-line:before {
   content: "\e932";
}
.icon-map-pin:before {
   content: "\e933";
}
.icon-market-search:before {
   content: "\e934";
}
.icon-minus:before {
   content: "\e935";
}
.icon-more-horizontal:before {
   content: "\e936";
}
.icon-notification-3-line:before {
   content: "\e937";
}
.icon-ps:before {
   content: "\e938";
}
.icon-public-relation:before {
   content: "\e939";
}
.icon-search:before {
   content: "\e93a";
}
.icon-send:before {
   content: "\e93b";
}
.icon-settings-3-line:before {
   content: "\e93c";
}
.icon-share-alt:before {
   content: "\e93d";
}
.icon-shopping-bag-2-line:before {
   content: "\e93e";
}
.icon-star:before {
   content: "\e93f";
}
.icon-strategy:before {
   content: "\e940";
}
.icon-support:before {
   content: "\e941";
}
.icon-trash:before {
   content: "\e942";
}
.icon-travel:before {
   content: "\e943";
}
.icon-twitter:before {
   content: "\e944";
}
.icon-user-6-line:before {
   content: "\e945";
}
.icon-user-plus:before {
   content: "\e946";
}
.icon-users:before {
   content: "\e947";
}
.icon-ux:before {
   content: "\e948";
}
.icon-video:before {
   content: "\e949";
}
.icon-x:before {
   content: "\e94a";
}
.icon-youtube:before {
   content: "\e94b";
}
